<div (click)="closeModal()" class="ui dimmer visible active">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="closeModal()" class="close icon"></i>
    <div class="header">
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img
          width="400"
          width="600"
          src="https://m.media-amazon.com/images/I/71CQFGiPA+L._SY425_.jpg"
        />
      </div>
      <div class="description">
        <ng-content select="[description]"></ng-content>
      </div>
    </div>
    <div class="actions default-btns">
      <div class="ui black deny button" (click)="closeModal()">Nope</div>
      <ng-content select="[extrabtn]"></ng-content>
    </div>
  </div>
</div>
