<app-divider>Modal</app-divider>
<button class="ui inverted purple button" (click)="toggleModalVisibility()">
  Open Modal
</button>

<app-modal (close)="toggleModalVisibility()" *ngIf="modalStatus">
  <div header>Profile Picture</div>
  <div description>
    <div class="ui header">We've auto-chosen a profile image for you.</div>

    <p>
      We've grabbed the following image from the
      <a href="https://www.gravatar.com" target="_blank">gravatar</a> image
      associated with your registered e-mail address.
    </p>
    <p>Is it okay to use this photo?</p>
  </div>

  <ng-container extrabtn>
    <div
      class="ui positive right labeled icon button"
      (click)="toggleModalVisibility()"
    >
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </ng-container>
</app-modal>

<div class="ui divider"></div>
<div class="ui divider"></div>

<app-divider>Accordion</app-divider>
<app-accordion [items]="items"></app-accordion>
